{% extends "base.html" %}
{% block content %}
<section class="bucket-list-display">

<h2> MY BUCKET LIST</h2>
    <a class= 'link' class='destination-button'href="/countries/new"><button>Add New Destination</button></a>

{% for country in countries %}
<div>
    <section>
    <section id="country-section">
        <h4>Country: {{country.name}}</h4>
    <div class='editpencil-country'>
        <a href="/countries/{{country.id}}/edit"><i class="fa fa-pencil" style="font-size:10px;color:green"></i></a>
    </div>
        <!-- <button>Edit</button> -->
    <div class= 'trashicon-country'>
        <form action="/countries/{{ country.id }}/delete" method="POST">
            <button type="submit" value="Delete"><i class="fa fa-trash-o" style="font-size:10px;color:red"></i></button>
        </form>
    </div>
    </section class= 'city-names'>      
    {% for city in cities %}
        {% if city.country.id == country.id %}
            <p>{{ city.name }}</p> 
            {% if city.visited == True %}
                <p>Visted!</p>
            {% else %}
                <p>Not Yet!</p>
            {% endif %}
            <!-- <a href="/cities/{{city.id}}/edit"><button>Edit</button></a> -->
        <div class='edit-pencil'>
            <a href="/cities/{{city.id}}/edit"><i class="fa fa-pencil" style="font-size:10px;color:green"></i></a>
        </div>

        <div class='trashcan'>
            <form action="/cities/{{city.id}}/delete" method="POST">
                <button type="submit" value="Delete"><i class="fa fa-trash-o" style="font-size:10px;color:red"></i></button>
            </form>
        </div>
        {% endif %}    

    {% endfor %}
    <!-- use this for cities -->

   

   
    <form action="/cities" method='POST'>
        <input type="submit" value="Add City">
        <input type="text" id="city" name="name">
        <input type="hidden" id='country' name='country_id' value='{{country.id}}'>
        <input type="hidden" id='visited' name='visited' value='False'>
    </form>
    </section>
</div>

{% endfor %}

</section>


{% endblock %}