{% extends "base.html" %}
{% block content %}

<h2> MY BUCKET LIST</h2>
    <a href="/countries/new"><button>Add New Destination</button></a>

{% for country in countries %}
<div class="country-container">
    <h3>Country I would like to visit: {{country.name}}</h3>

    <a href="/countries/{{country.id}}/edit"><button>Edit</button></a>

    <form action="/countries/{{ country.id }}/delete" method="POST">
        <input type="submit" value="Delete from Bucket List">
    </form>

    {% for city in cities %}
        {% if city.country.id == country.id %}
            <p>{{ city.name }}</p>
            <!-- <a href="/cities/{{city.id}}/edit"><button>Edit</button></a> -->
            <a href="/cities/{{city.id}}/edit"><i class="fa fa-pencil" style="font-size:20px;color:green"></i></a>
            <form action="/cities/{{city.id}}/delete" method="POST">
                <button type="submit" value="Delete"><i class="fa fa-trash-o" style="font-size:20px;color:red"></i></button>
            </form>
        {% endif %}    

    {% endfor %}
    <!-- use this for cities -->

   

   
    <form action="/cities" method='POST'>
        <input type="submit" value="Add City">
        <input type="text" id="city" name="name">
        <input type="hidden" id='country' name='country_id' value='{{country.id}}'>
        <input type="hidden" id='visited' name='visited' value='False'>
    </form>
</div>
{% endfor %}



{% endblock %}