{% extends "base.html" %}
{% block content %}
<section class='edit-backdrop'>
<h2>Edit My Destination</h2>

<form action="/cities/{{city.id}}" method='post'>

<div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
    <option value="True"
        {% if city.visited == True %} selected = 'selected' {% endif %} >True</option>

    </option>
    <option value="False"
    {% if city.visited == False %} selected = 'selected'{% endif %}>False</option>
    </select>
    
<!-- done after 5pm -->
<div>
    <label for="name">City Name</label>
    <input type="text" id='name' name='name' value='{{city.name}}'>
</div>

<div>
    <!-- <select name="country_id" id="country">
        {% for country in all_countries %}
            {% if country.id == city.country.id %}
            <option value="{{ country.id}}" selected>{{ country.name }}</option>
            {% else %}
            <option value="{{ country.id}}">{{ country.name }}</option>
            {%endif%}
        {% endfor %}
    </select> -->
    <input type="hidden" id="country" name="country_id" value="{{city.country.id}}">
</div>


<input type="submit" value='Edit Destination'>
</form>
   

</div>
</section>





{% endblock %}