/* body {
    background-image: url (('static', filename'=img/plan.jpg');
} */

.edit-country-background {
    padding-top: 10px;
    height:50vh;
    background-image: url("../../img/bolivia.jpg");
    background-size: cover;
}

body > main > section > h5 {
    font-family: cursive;
    padding-top: 40px
}
/* change image for text */