.country-container {
    border: 1px solid black;
    
}

.bucket-list-display {
    background-image: url("../../img/bucket_list_display.jpg");
    background-size: cover;
    padding: 30px;
    /* background-color: lightslategray; */
}

#country-section {
    display: flex;
    justify-content: center;
}

/* main > div > section > {
    margin-bottom: 100px;
} */