.country-container {
    border: 1px solid black;
    
}


.bucket-list-display {
    background-image: url("../../img/bucket_list_display2.jpg");
    background-size: cover;
    padding: 30px;
    /* background-color: lightslategray; */
}

#country-section {
    display: flex;
    justify-content: center;
}

/* main > div > section > {
    margin-bottom: 100px;
} */

body > main > section {
    font-family: 'Varela Round', sans-serif;
}

.trashcan {
    position: relative;
    left: 60px;
    bottom:60px;
    margin-bottom: 10px;
}
.edit-pencil {
    position: relative;
    left: 40px;
    bottom: 40px;
}

.editpencil-country {
    position: relative;
    top:20px;
    left:5px;
}
.trashicon-country {
    position: relative;
    top:20px;
    left:5px;
}
/* 
.city-names {
    font-size: large ;
    margin-bottom: 0px;
} */

main > header > h2 {
    margin-bottom: 50px;
}

.destination-button {
    margin: 20px;
}
/* a{
    background-color: powderblue;
    transition: background-color .5s;
}
a:hover {
    background-color: seagreen;
} */

.edit-form {
    margin-top: 15px;
}