body > header {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, fantasy;
    background-color: rgb(140, 163, 106);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, fantasy;
}

nav > ul {
    list-style: none;
}

body > footer > nav > ul >li > a {
    color: floralwhite:
}

body > footer {
    background-color: rgb(140, 163, 106);
}

#test {
    color: red;
}