<!-- this is for header and footer for every page-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <!-- do link for css files by same above linkbut refer the folder and css file for it -->
  <title>My Bucket List Project</title>
</head>
<body>
  <header>
    <header>
      <h1 id="test">My Travel Bucket List </h1>

  </header>
  
    <nav>
      <ul class="menu">
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <nav>
      <p>&copy; My Bucket List 2020</p>
      <ul>
          <li>Blog</li>
          <li>About</li>
          <li>Contact</li>
          <li>Instagram</li>
          <li>Twitter</li>
      </ul>
  </nav>
  </footer>
</body>
</html>
