<!-- this is for header and footer for every page-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <!-- cities style pages: -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities/edit.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities/new.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities/index.css') }}">


  <!-- countries style pages: -->
<!-- edit the city to visited, and city name -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/countries/edit.css') }}">
  <!-- edit country name incase misspelled -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/countries/index.css') }}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/countries/new.css') }}">
 
  

  <!-- main and base pages: -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- font import -->
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
 



  <title>My Bucket List Project</title>
</head>
<body>
  <header>
      <h1 >HODOPHILE</h1>
      <h2>For the love of travel </h2>
  </header>


  <main> 
  
  {% block content %}
  {% endblock %}

  </main>


  <footer>
    <p>&copy; My Bucket List 2020</p>
    <nav class= 'footer-block'>
      <ul>
          <li>Blog</li>
          <li>About</li>
          <li>Contact</li>
          <li>Instagram</li>
          <li>Twitter</li>
      </ul>
  </nav>
  </footer>
</body>
</html>
