<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL BUCKETLIST</title>
</head>
<body>
    <header>
        <h1>My Bucket List</h1>
    </header>
    <nav>
        <ul>
            <li>Blog</li>
            <li>About</li>
            <li>Contact</li>
            <li>Instagram</li>
            <li>Twitter</li>
        </ul>
    </nav>
    <main>
        <form action="/countries">
            <input type="submit" value="GO TO MY BUCKET LIST">
        </form>
    </main>


    <footer>
        <p>&copy; My Bucket List 2020</p>
    </footer>
</body>
</html>