{% extends "base.html" %}
{% block content %}
    <section class="background-image-home">
        <form action="/countries">
            <input type="submit" value="GO TO MY BUCKET LIST">
        </form>
    </section>
    <section>
            <section class= "blog-block">
                <div class="image-block"><h4>Sustainable Travel</h4>
                <img src = "../static/img/alexander-schimmeck-ZP-6_RX0t30-unsplash.jpg" width= "200" height= "200" alt = "Here is a bear">
                </div>


                <div class="image-block"><h4>Working while Travelling</h4>
                 <img src = "../static/img/work and travel.jpg" width="200" height="200" alt = "Here is a bear"> 
                </div>


                <div class="image-block"><h4>Off the Beaten Track</h4>
                 <img src = "../static/img/sebastien-goldberg-BKLHxgbYFDI-unsplash.jpg" width= "200" height= "200" alt = "Here is a bear">
                </div>


                <div class="image-block"><h4>Planning and Travel</h4>
                 <img src = "../static/img/oxana-v-qoAIlAmLJBU-unsplash.jpg" width="200" height="200" alt = "Here is a bear">
                </div>


                <div class="image-block"><h4>Food Guide</h4>
                 <img src = "../static/img/pastafood.jpg" width="200" height="200" alt = "Here is a bear">
                </div>


                <div class="image-block"><h4>Go Local</h4>
                 <img src = "../static/img/deva-darshan-ZsXkO4RbwE8-unsplash.jpg" width= "200" height= "200" alt= "Here is a bear">
                </div>
            </section>
        </section> 
</html>

{% endblock %}