{% extends "base.html" %}
{% block content %}
    <section class="background-image-home">
        <form action="/countries">
            <input type="submit" value="GO TO MY BUCKET LIST">
        </form>
    </section>
    <section>
            <section class= "blog-block">
                <div class="image-block"><h4>Green Travel</h4>
                    <a href="https://greenglobaltravel.com/green-travel-tips-ultimate-guide-sustainable-travel/" target='_blank'>
                <img src = "../static/img/alexander-schimmeck-ZP-6_RX0t30-unsplash.jpg" width= "200" height= "200" alt = "Here is a bear"></a>
                </div>

                <div class="image-block"><h4>Food Guide</h4><a href="https://whywaittoseetheworld.com/culinary-travel/destination-guides/" target='_blank'>
                    <img src = "../static/img/pastafood.jpg" width="200" height="200" alt = "Here is a bear"></a>
                   </div>               


                <div class="image-block"></a><h4>Planning and Travel</h4>
                    <a href="https://practicalwanderlust.com/how-to-plan-a-trip-travel-planning-tips/" target='_blank'>
                 <img src = "../static/img/oxana-v-qoAIlAmLJBU-unsplash.jpg" width="200" height="200" alt = "Here is a bear"></a>
                </div>
                

                <div class="image-block"></a><h4>Working while Travelling</h4>
                    <a href="https://www.goatsontheroad.com/work-and-travel/" target='_blank'>
                 <img src = "../static/img/work and travel.jpg" width="200" height="200" alt = "Here is a bear"></a> 
                </div>

                <div class="image-block"><h4>Off the Beaten Track</h4>
                    <a href="https://www.thetimes.co.uk/expert-traveller/experiences/adventure/adventurous-destinations-you-shouldnt-overlook" target='_blank'>
                 <img src = "../static/img/sebastien-goldberg-BKLHxgbYFDI-unsplash.jpg" width= "200" height= "200" alt = "Here is a bear"></a>
                </div>


                <div class="image-block"><h4>Go Local</h4><a href="https://edition.cnn.com/travel/article/travel-life-of-a-local/index.html" target= '_blank'>
                 <img src = "../static/img/deva-darshan-ZsXkO4RbwE8-unsplash.jpg" width= "200" height= "200" alt= "Here is a bear"></a>
                </div>
            </section>
        </section> 
</html>

{% endblock %}